<footer class="bg-black uk-container white">
	<div class="uk-column-1-2">

		<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
		<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
		<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

		{{ partial "newsletter-form" . }}

	</div>

	<div uk-grid>

		<div uk-grid>
			<h3 class="f4 b lh-title mb1 primary">Kaldi</h3>
			<div><a href="/" class="link">Home</a></div>
			<div><a href="/products" class="link">Our products</a></div>
			<div><a href="/values" class="link">About</a></div>
			<div><a href="/post" class="link">Blog</a></div>
			<div><a href="/contact" class="link">Contact</a></div>
		</div>

		<div uk-grid>
			<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
			<div><a href="/post/jamaica-blue/" class="link">Latest offers</a></div>
			<div><a href="/contact" class="link">Schedule and appointment</a></div>
			</ul>
		</div>

		<div uk-grid>
			<h3 class="f4 b lh-title mb2 primary">Social media</h3>
			<div>{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}</div>
			<div>{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}</div>
			<div>{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}</div>
			<div>{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}</div>
		</div>

	</div>


</footer>

{{ partial "svg" . }}
